/*********@mixins**********/
/*********variables**********/
/*responsive variables*/
/*********font face*********/
@font-face {
  font-family: "Roboto";
  src: url("./Typography/Roboto/Roboto-Black.ttf") format("ttf"), url("./Typography/Roboto/Roboto-Black.ttf") format("ttf");
}

/*********body styles*********/
body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

/*********header styles*********/
.header {
  padding-top: 0;
  border-bottom: 1px rgba(212, 212, 212, 0.5) solid;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__link {
  padding: 1.5em;
  margin: 0 3.6em;
  justify-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

.header__login {
  width: 40px;
  height: 40px;
  border-radius: 199px;
  border-radius: 199px;
}

.header__input {
  width: 502px;
  height: 40px;
  border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #d4d4d4;
}

.header__search {
  width: 109px;
  height: 44px;
  vertical-align: bottom;
  border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #d4d4d4;
}

/************main style***********************/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 5em;
  /***********main video style***********************/
  /********** sidebar video styles*************/
}

.main__video--side {
  width: 70%;
  padding: 0.5em;
}

.main__video--side .showmore {
  text-decoration: none;
  color: #888888;
  font-size: 13px;
}

.main__video--side video {
  width: 100%;
}

.main__video--side .video__caption {
  font-size: 16px;
}

.main__video--side .video__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 1em;
  border-bottom: 1px solid #f1f1f1;
  font-size: 14px;
}

.main__video--side .video__details .view {
  margin-right: auto;
}

.main__video--side .video__details span {
  padding: 0 5px;
  color: #888888;
}

.main__video--side .video__details span img {
  padding: 0 6px;
}

.main__video--side .comments {
  margin: 1em auto;
  padding: 2em 0;
  border-bottom: 1px solid #f1f1f1;
}

.main__video--side .commenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__video--side .commenter__img {
  width: 50px;
  height: 50px;
  background-color: #d4d4d4;
  border-radius: 99px;
  border-radius: 99px;
}

.main__video--side .commenter__info {
  padding-left: 10px;
}

.main__video--side .commenter__info--league {
  font-size: 14px;
}

.main__video--side .commenter__info--publishDate {
  font-size: 12px;
  color: #888888;
}

.main__video--side .commenter .subscribe {
  background-color: #0095ff;
  width: 160px;
  height: 40px;
  color: #fff;
  margin-left: auto;
  border-radius: 3px;
  border-radius: 3px;
  border: none;
}

.main__video--side .commenter .subscribe span {
  color: #d4d4d4;
  padding: 0 3px;
}

.main__video--side .comment__author {
  width: 50px;
  height: 50px;
  border-radius: 99px;
  border-radius: 99px;
}

.main__video--side .comment-wrapper {
  padding: 0.5em 3.5em;
}

.main__video--side .comment-wrapper .commenter-name {
  padding: 5px;
  margin: 0 5px;
  font-size: 16px;
  font-weight: bold;
}

.main__videoBar--side .displayNextVids {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px;
}

.main__videoBar--side .displayNextVids .video-box {
  position: relative;
  width: 155px;
  height: 100px;
}

.main__videoBar--side .displayNextVids .video-duration {
  position: absolute;
  bottom: 1em;
  right: 1em;
  background: #272727;
  color: #f1f1f1;
  font-size: 11px;
}

.main__videoBar--side .displayNextVids .NextVidImg {
  width: 155px;
  height: 100px;
}

.main__videoBar--side .displayNextVids .Nextvid-title {
  font-size: 12px;
  margin-top: 0;
  font-weight: 600;
}

.main__videoBar--side .displayNextVids .NextVidCategory {
  font-size: 13px;
  color: #888888;
}

.main__videoBar--side .displayNextVids .NextVidVeiws {
  font-size: 13px;
  color: #888888;
}

.main__videoBar--side .displayNextVids .Nextvid-info {
  margin: 0 10px;
  line-height: 15px;
}

.main__videoBar--side .displayNextVids .Nextvid-info .Nextvid-title {
  color: #272727;
}

/***********upload style*************************/
.uploadPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.uploadPage input[type=text], .uploadPage textarea {
  width: 20em;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-radius: 4px;
}

.uploadPage label {
  padding: 12px 12px 12px 0;
  display: block;
}

.uploadPage .submit-btn {
  padding: 10px 30px;
  margin: 10px;
  background-color: #0095ff;
  border: 1px solid #0095ff;
  color: #f1f1f1;
  font-size: 16px;
  border-radius: 4px;
  border-radius: 4px;
}

/**********media queries (max-width: 768px)*************/
@media screen and (max-width: 768px) {
  /********** header media queries (max-width: 768px)*************/
  .header__nav .nav-logo {
    width: 85px;
    height: 75px;
  }
  .header__nav .header__link {
    margin: initial;
  }
  .header__nav img {
    width: 30px;
    height: 30px;
  }
  .header__nav .header__form {
    height: 20px;
    margin: 10px;
    padding: 5px;
  }
  .header__nav .header__form .header__input {
    width: 230px;
    height: 20px;
  }
  .header__nav .header__form .header__search {
    width: 65px;
    height: 23px;
  }
  .header__nav .header__form .header__search img {
    width: 17px;
    height: 10px;
  }
  /********** main media queries (max-width: 768px)*************/
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /********** left-side media queries (max-width: 768px)*************/
    /********** right-side media queries (max-width: 768px)*************/
  }
  .main__video--side {
    width: 95%;
    margin: 0 auto;
  }
  .main__video--side .video__caption {
    font-size: 13px;
    padding: 2em 0;
  }
  .main__video--side .video__details {
    font-size: 11px;
  }
  .main__video--side .commenter__info {
    line-height: 10px;
  }
  .main__video--side .commenter__img {
    width: 45px;
    height: 45px;
  }
  .main__video--side .commenter__info--publishDate {
    line-height: normal;
  }
  .main__video--side .commenter .subscribe {
    width: 105px;
    font-size: 11px;
  }
  .main__videoBar--side {
    width: 95%;
    margin: 0 auto;
  }
  .main__videoBar--side .Nextvid-info {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  /********** header media queries (max-width: 600px)*************/
  .header__nav .header__link {
    padding: 5px;
    margin: 2px;
  }
  .header__nav img {
    width: 30px;
    height: 30px;
  }
  .header__nav .header__form .header__input {
    width: 100px;
    height: 20px;
  }
  .header__nav .header__form .header__button {
    width: 35px;
    height: 23px;
  }
  .header__nav .header__form .header__button img {
    width: 17px;
    height: 10px;
  }
  /********** main media queries (max-width: 600px)*************/
  .main {
    /********** left-side media queries (max-width: 600px)*************/
    /********** right-side media queries (max-width: 600px)*************/
  }
  .main__video--side .video__caption {
    font-size: 12px;
  }
  .main__video--side .video__details {
    font-size: 13px;
  }
  .main__video--side .commenter__info {
    line-height: 7px;
  }
  .main__video--side .commenter__img {
    width: 45px;
    height: 45px;
  }
  .main__video--side .commenter__info--publishDate {
    line-height: normal;
  }
  .main__videoBar--side .Nextvid-title {
    font-size: 12px;
  }
}
/*# sourceMappingURL=App.css.map */